.comfortaa-text {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 85px;
    border-bottom: 2px solid black;
  }
  
  .navbar-section {
    display: flex;
    align-items: center;
  }
  
  .navbar-section span {
    margin-right: 20px;
    font-size: 16px;
    font-weight: 400;
  }
  
  .navbar-section .logo {
    font-size: 24px;
    font-weight: 700;
    margin-right: 40px;
  }
  
  .search-input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 20px;
    width: 200px;
  }
  