@import url(variables.css);
#imgPreview {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.img-usuario {
  height: 80px;
  display: flex;
  justify-content: flex-start;
}

.profile-head {
  text-align: center;
}

.container {
  max-width: 800px;
  margin-top: 50px;
  background-color: var(--container-background);
  color: var(--container-text);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-head-principal h4 {
  color: var(--c1);
}

.form-control {
  background-color: #f2f2f2;
}
.form-control:disabled {
  background-color: #c4c4c4;
}

#cancelButton{
  display: none;
}
#saveButton{
  display: none;
}

.btn-guardar {
  background-color: var(--c1);
  color: #fff;
}

.profile-head-principal {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upload-image {
  margin: 8px 0px;
  display: flex;
  flex-direction: row;
}
.upload-image span {
  padding: 15px;
}

.edit {
  margin: 0px;
}
