@import url(variables.css);
    /* Estilos generales */
    main {
        display: flex;
        flex-direction: column;
        justify-content: center; /* Centrar horizontalmente */
        align-items: center; /* Centrar verticalmente */
        background-color: var(--background-color); /* Color de fondo */
        color: var(--text-color);
        font-family: var(--font-family);
        font-family: var(--font-family);
        margin: auto;
      }
      #resetPassword{
        cursor: pointer;
      }
      /* Estilos para el contenedor de login */
      .login-container {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        width: 300px;
        text-align: center;
        margin: auto;
      }
  
      input[type="text"], input[type="password"] {
        width: 80%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        transition: all .5s ease;
      }

      input:focus {
        outline: none;
        border: 1px solid rgb(102, 102, 102);
    }
  
      button {
        background-color: var(--c1); /* Color del botón */
        color: white;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 80%;
      }
  
      button:hover {
        background-color: var(--c1-hover); /* Color al pasar el ratón */
      }
  
      .link {
        margin-top: 10px;
        display: block;
        text-decoration: none;
        transition: color 0.2s ease, text-decoration 0.2s ease;
      }
  
      .link:hover {
        text-decoration: underline;
        color: var(--c5);
      }
  
      footer {
        margin-top: 40px;
        text-align: center;
        width: 100%;
        bottom: 0; /* Ajustar la posición del pie de página */
      }

/* Media Queries */

/* Resolucion estándar: 1366 x 768 px */
@media (max-width: 1366px) {
      .login-container {
          width: 350px; /* Aumenta el ancho para pantallas mas grandes */
      }
}

/* Tableta en modo vertical: 768px x 1024 px */
@media (max-width: 768px) {
      .login-container {
      width: 280px; /* Reduce el ancho para ajustarse a tablets */
        top: 200px; /* ajusta la posición vertical */
      }

      input[type="text"],
      input[type="password"],
      button {
        padding: 8px; /* Reduce el padding en tabletas */
      }
}

/* Smartphone pequeño: 320 x 568 px  */
@media (max-width: 320px) {
      .login-container {
        width: 90%; /* Utilizar un ancho porcentual para pantallas pequeñas */
        top: 150px; /* Ajusta la posicion vertical */
        margin-left: auto;
        margin-right: auto;
      }

      input[type="text"],
      input[type="password"]
      button {
        padding: 6px; /* Reduce aún más el padding para smartphones pequeños */
      }

}

