@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
  --c1: #fa5758;
  --c2: #0d263c;
  --c3: #e8d7f1;
  --c4: #4a306d;
  --c5: #59c3c3;
  --text-color: rgb(71, 71, 71);
  --background-color: #f4f4f4;
  --font-family:'Poppins', sans-serif;

  --c1-hover:#ff7070;
  
}
[data-theme="dark"] {
  --c1: #ff8989;
  --c2: #cddc39;
  --c3: #a78bc4;
  --c4: #b89cd1;
  --c5: #77e1e1;
  --text-color: rgb(224, 224, 224);
  --background-color: var(--c2);
}

a {
  color: inherit;
  text-decoration: inherit;
}

.swal2-popup {
    font-family: 'Poppins', sans-serif; /* Cambia 'Poppins' por la fuente que desees */
    color: var(--text-color); /* Color del texto */
}
